asgiref==3.6.0
certifi==2023.5.7
cffi==1.15.1
cryptography==41.0.2
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2.3
gunicorn==21.2.0
idna==3.4
paypalrestsdk==1.13.1
psycopg2==2.9.6
pycparser==2.21
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.23.0
